@using BIPApproval
@model BIPApproval.Models.DevViewModel
@{
    ViewBag.Title = "Dev";
}

<h2>@Model.Name <sub><a href="@Model.ASCLink" style="font-size:small">asc</a></sub></h2>

<h3>Content</h3>
<ul>
    @foreach(var bip in @Model.BIPs)
    {
        <li><a href="#@bip">@bip</a></li>
    }
</ul>

@foreach(var opinion in @Model.Opinions)
{
    <h3>@opinion.Name @Html.Approval(opinion.Approve)</h3>
    <p>@Html.Raw(opinion.Name)</p>
}


