@using BIPApproval
@model BIPApproval.Models.ApprovalMatrixModel
@{
	ViewBag.Title = "Index";
}
<style>
    table {
        display: block;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 115%;
        overflow: auto;
        width: auto;
    }

    td {
        background-color: rgb(238, 238, 238);
        color: rgb(111, 111, 111);
        padding: 20px 20px;
        white-space: nowrap;
        text-align: center;
    }

    th {
        background-color: rgb(112, 196, 105);
        color: white;
        font-weight: normal;
        padding: 20px 30px;
        text-align: center;
    }

    a.white {
        text-decoration:underline;
        color: #d9f3fb;
    }

		.dev {
			background-color: rgb(112, 196, 105);
			color: white;
			font-weight: normal;
			padding: 20px 10px;
			text-align: center;
		}

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-color: black;
        border-width: thin;
        border-style: solid;
    }
</style>
<h2>BIP x Devs Approval Matrix<sup><a href="https://blockchainprogramming.azurewebsites.net/" style="font-size:small;">With a shameless plug</a></sup></h2>
<p>About clearing the noise of blocksize debate, devs need to sign with their PGP key. <br />
 My sushi saving box : <b>15sYbVpRh6dyWycZMwPdxJWD4xbfxReeHe</b>. <br />
 The project is on <a href="https://github.com/NicolasDorier/BIPxDevs">github</a>.
 Happy coding !
</p>
<table>
	<tr>
		<th>Dev</th>
		@foreach(var bip in Model.BIPs){
	  if(bip.Link != null)
	  {
			<th><a class="white" href="@bip.Link">@bip.Name</a></th>
	   }
	   else
	   {
			<th>@bip.Name</th>
	   }
   }    
	</tr>
	@foreach(var dev in Model.Devs)
 {			
		<tr>
			<td class="dev"><a class="white" href="/Opinion/@dev.Id">@dev.FriendlyName</a></td>
			@for(int i = 0 ; i < Model.BIPs.Count ; i++)
   {
				<td><a href="/Opinion/@dev.Id#@Model.BIPs[i].Name">@Html.Approval(dev.Approvals[i])</a></td>
   }
		</tr>
 }
</table>

